<h1>Coding Tweets</h1>

<%= form_for @tweet do |f| %>
  <div class="section">
    <%= f.text_area :body %><br />
  </div>
  <div class="section">
    <%= f.submit %>
  </div>
<% end %>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <div class="tweeter"><%= tweet.user.email %></div>
      <div class="tweet-body"><%= tweet.body %></div>
    </li>
  <% end %>
</ul>
