<!DOCTYPE html>
<html>
  <head>
    <title>TemplateRuby</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>

    <div class="container">
      <% if notice %>
        <p class="alert alert-info text-center notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-warning text-center"><%= alert %></p>
      <% end %>

      <% if current_user %>
        Logged in As <%= current_user.email %>
    <% end %>

    <%= yield %>

  </div>

  <%= javascript_include_tag 'application' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
